.wrapper {
  @include mq($from: mobile, $until: desktop) {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: rem(0 20px);
  }
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  color: $color-black-brand;
  margin: rem(5px 0 0 0);
}

.graySection {
  background-color: #FAFAFA;
}

.column {
  @include mq($from: mobile, $until: tablet) {
    max-width: initial;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //align-items: center;
    align-content: center;
  }
  @include mq($from: tablet, $until: desktop) {
    order: 1;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  margin-right: rem(20px);
  display: block;
}

.listColumn {
  @include mq($from: mobile, $until: desktop) {
    width: initial;
    margin-left: 0;
  }

  @include mq($from: mobile, $until: tablet) {
    width: 100%;
  }

  @include mq($from: tablet, $until: desktop) {
    width: 50%;
    order: 2;
    margin-top: rem(20px);
  }


  display: block;

  & + & {
    @include mq($from: mobile, $until: desktop) {
      margin-left: 0;
    }
  }
}

.title {
  @include mq($from: mobile, $until: tablet) {
    order: 5;
    width: 100%;
    text-align: left;
    margin: rem(30px 0 20px 0);
    font-weight: 400;
  }
  @include mq($from: tablet, $until: desktop) {
    margin-top: rem(10px);
  }
  display: block;
  font-size: rem(22px);
  line-height: rem(26px);
}

.price {
  @include mq($from: mobile, $until: tablet) {
    order: 1;
    width: 100%;
    text-align: center;
    font-size: rem(36px);
    line-height: rem(42px);
    margin-bottom: rem(5px);
  }
  display: block;
  font-size: rem(56px);
  line-height: rem(62px);
}

.priceMonth {
  @include mq($from: mobile, $until: tablet) {
    order: 2;
    width: 100%;
    text-align: center;
  }
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(19px);
  vertical-align: middle;
}

.activationPrice {
  @include mq($from: mobile, $until: tablet) {
    order: 3;
    text-align: center;
    padding: rem(0 15px);
  }
  display: block;
  font-size: rem(14px);
  line-height: rem(19px);
}

.descriptionPrice {
  @include mq($from: mobile, $until: tablet) {
    order: 4;
    text-align: left;
    padding: rem(0 15px);
  }
  display: block;
  font-size: rem(14px);
  line-height: rem(19px);
}

.list {
  @include mq($from: mobile, $until: tablet) {
    padding-left: rem(25px);
    padding-bottom: rem(10px);
    margin: 0 auto;
    min-height: initial;
    width: auto;
  }
  margin: rem(0);
  display: block;
  list-style: none;
  min-height: rem(150px);
  width: rem(390px);
}

.listItem {
  //display: flex;
  position: relative;
  font-size: rem(16px);
  line-height: rem(22px);
  font-weight: normal;
  font-style: normal;

  & + & {
    margin-top: rem(7px);
  }

  &:before {
    position: absolute;
    content: '✓';
    display: block;
    left: rem(-20px);
    color: $color-blue-green;
  }

  a {
    color: $color-blue-green;
    text-decoration: none;
    font-weight: 400;
  }
}

.listIcon {
  width: rem(16px);
  height: rem(16px);
  display: inline;
  padding-left: rem(5px);

  svg {
    padding-top: rem(2px);
  }
}

.link {
  color: $color-blue-green;
}

.toolTip {
  width: rem(300px);
  min-height: rem(150px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 5;
}

.buttonWrapper {
  @include mq($from: mobile, $until: tablet) {
    position: sticky;
    bottom: 0px;
  }

  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  @include mq($from: mobile, $until: tablet) {
    width: rem(200px);
    margin-bottom: rem(10px);
  }

  width: rem(300px);
  margin: rem(0 0 20px 0);
  padding: rem(10px 20px 10px 20px);
  border-radius: rem(5px);
  box-shadow: rem(0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12));
  background: #FDC400;
  font-size: rem(18px);
  line-height: rem(25px);
  color: #333;
  display: block;
  border: none;
  font-weight: bold;
  text-align: center;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #deb31f;
  }
}

.buttonDesktop {
  @include mq($from: mobile, $until: tablet) {
    display: none;
  }

  display: block;
}

.buttonMobile {
  @include mq($from: mobile, $until: tablet) {
    display: block;
  }

  display: none;
}
