.container {
  @include mq($from: mobile, $until: tablet) {
    width: 100%;
    overflow-x: hidden;
  }

  display: flex;
  clear: both;
  margin: 0 auto;
  //padding: 0 3%;
  max-width: rem(1200px);
  width: 100%;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
