.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: rem(240px);
  background-size: cover;
  transform: translateZ(0);
  border-bottom-left-radius: rem($size-normal);
  border-bottom-right-radius: rem($size-normal);
  color: $color-white;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left:rem(24px) ;
}

.heading {
  display: block;
  width: rem(270px);
  font-size: rem(24px);
  font-weight: rem($font-weight-black);
  line-height: rem($font-lineHeight-black);
  padding-top: rem(60px);
  padding-bottom: rem(30px);
  font-style: italic;
}

.footer {
  display: flex;
  width: 100%;
}

.difficulty {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: rem(14px);
  min-width: rem(200px);
}

.icon {
  fill: $color-white;
  padding-right: rem(16px);
}

.badgeWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: rem(24px);
}
