$padding-xs: 8px;
$padding-small: 16px;
$padding-normal: 24px;
$padding-large: 48px;

$size-xs: 8px;
$size-small: 16px;
$size-normal: 24px;
$size-large: 48px;
$size-xl: 64px;



@import "common/basic";
@import "common/fonts";
@import "common/mixins";
@import "common/breakpoints";
@import "common/colors";
