.whiteBackground {
  @include mq($from: mobile, $until: tablet) {
    margin: rem(40px 20px);
  }

  background-color: #fff;
  width: 100%;
  margin: rem(30px 0 10px 0);
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  margin-bottom: rem(40px);
  color: $color-black-brand;
}

.circleWrapper {
  @include mq($from: mobile, $until: tablet) {
    flex-wrap: wrap;
  }

  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.circle {
  @include mq($from: mobile, $until: tablet) {
    width: 100%;
    padding: 0;
    margin-bottom: rem(5px);
  }

  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;

}

.circleIcon {
  @include mq($from: mobile, $until: tablet) {
    width: rem(100px);
    padding: 0;
    margin: 0;
  }

  width: rem(100px);
  margin-bottom: rem(25px);
  text-align: center;
  max-width: rem(150px);

  img {
    width: 100%;
  }
}

.circleDesc {
  width: 100%;
  margin-bottom: rem(15px);
  font-weight: 400;
  font-size: rem(16px);
  line-height: 163%;
  text-align: center;
}

.button {
  @include mq($from: mobile, $until: tablet) {
    width: rem(200px);
    margin-bottom: rem(10px);
  }

  width: rem(300px);
  margin: rem(0 0 20px 0);
  padding: rem(10px 20px 10px 20px);
  border-radius: rem(5px);
  box-shadow: rem(0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12));
  background: #FDC400;
  font-size: rem(18px);
  line-height: rem(25px);
  color: #333;
  display: block;
  border: none;
  font-weight: bold;
  text-align: center;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #deb31f;
  }
}

.buttonDesktop {
  @include mq($from: mobile, $until: tablet) {
    display: none;
  }
  display: block;
}

.buttonMobile {
  @include mq($from: mobile, $until: tablet) {
    display: block;
  }
  display: none;
}
