.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: rem(0 24px 0 24px);
}

.heading {
  width: 100%;
  display: block;
}

.historyHeading {
  composes: heading;
}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.listItem {
  display: flex;

  & + & {
    margin-top: rem($size-normal);
  }

  &:last-child {
    margin-bottom: rem($size-large);
  }
}

.day {
  display: flex;
  width: rem(32px);
  font-weight: $font-weight-black;
}

.event {
  display: flex;
  flex-wrap: wrap;
  padding-left: rem($padding-normal);
}

.eventName {
  width: 100%;
  font-size: rem(14px);
  font-weight: $font-weight-semibold;
}

.eventLocalization {
  font-weight: normal;
  color: $color-gray;
  font-size: rem(14px);
}
