$color-blue-green: #239a98;
$color-green: #a8d0c0;
$color-blue: #68b5c8;
$color-gray-green: #a1b6b7;
$color-orange: #ee742b;
$color-red: #d9415c;
$color-light-grey: #c5c6c6;
$color-antracite: #575756;
$color-white: #fff;
$color-black-brand: #333;
