@font-face {
  font-family: 'Gotham Rounded Book';
  src: url('https://www.upc.pl/content/dam/www30-upc-pl/json/GothamRounded-Book.woff2') format('woff2'),
  url('https://www.upc.pl/content/dam/www30-upc-pl/json/GothamRounded-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
