*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Gotham Rounded',Geneva,Verdana,sans-serif;
  margin: 0;
}

strong {
  font-weight: 700;
}

img,
svg {
  max-width: 100%;
}

svg {
  max-height: 100%;
  fill: currentColor;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  //font-family: 'BloomSpeak Title',Geneva,Verdana,sans-serif;
  color: #333;
  //clear: both;
  text-rendering: optimizeLegibility;
  font-kerning: normal
}

p {
  margin: 0;
}

.wcag_hide, .wcag_hide2 {
  clip: rect(1px,1px,1px,1px);
  display: block;
  position: absolute !important;
  width: 1px!important;
  height: 1px!important;
  overflow: hidden;
}
