.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: rem(280px);
  border-bottom-left-radius: rem($size-normal);
  border-bottom-right-radius: rem($size-normal);
  color: $color-white;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: rem(-97px);
  background-color: #F5F5F5;
}

