$swiper-slide-width: rem(320px);
$swiper-slide-height: rem(210px);

:global {
  @import "~swiper/swiper";

  .swiper-wrapper {
    list-style: none;
  }

  .swiper-container {
    padding-top: rem(40px);
    padding-bottom: rem(45px);
  }

  .swiper-slide {
    cursor: pointer;
  }

  .swiper-slide-active {
    cursor: grab;
  }

  .swiper-button-prev {
    @include mq($from: mobile, $until: tablet) {
      display: none;
    }
    position: absolute;
    width: rem(50px);
    height: rem(50px);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $color-blue-green;
    border: 0;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
  }

  .swiper-button-next {
    @include mq($from: mobile, $until: tablet) {
      display: none;
    }
    position: absolute;
    width: rem(50px);
    height: rem(50px);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: $color-blue-green;
    border: 0;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
  }

  .swiper-icon {
    display: block;
    text-align: center;
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    &.swiper-pagination-hidden {
      opacity: 0;
    }
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: rem(10px);
    left: 0;
    width: 100%;
  }

  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;

    .swiper-pagination-bullet {
      transform: scale(0.33);
      position: relative;
    }

    .swiper-pagination-bullet-active {
      transform: scale(1);
    }

    .swiper-pagination-bullet-active-main {
      transform: scale(1);
    }

    .swiper-pagination-bullet-active-prev {
      transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-prev-prev {
      transform: scale(0.33);
    }

    .swiper-pagination-bullet-active-next {
      transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-next-next {
      transform: scale(0.33);
    }
  }

  .swiper-pagination-bullet {
    width: rem(8px);
    height: rem(8px);
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
    margin: rem(0 4px);
    cursor: pointer;

    .swiper-pagination-clickable & {
      cursor: pointer;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: $color-blue-green;
  }

}

.graySection {
  background-color: #FAFAFA;
}

.wrapper {
  @include mq($from: mobile, $until: tablet) {
    width: 100%;
  }
  position: relative;
  display: block;
  width: rem(590px);
}

.swiperSlide {
  @include mq($from: mobile, $until: tablet) {
    width: rem(270px);
  }
  width: $swiper-slide-width;
  background-size: cover;
  border-radius: rem(4px);
  box-shadow: rem(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
}

.slideBody {
  @include mq($from: mobile, $until: tablet) {
    width: rem(270px);
  }
  width: $swiper-slide-width;
  height: $swiper-slide-height;
  background-color: #fff;
  overflow: hidden;
}

.slideHeader {
  @include mq($from: mobile, $until: tablet) {
    font-size: rem(14px);
  }

  width: fit-content;
  padding: rem(2px 16px);
  background: #FDC400;
  border-radius: rem(100px);
  text-align: center;
  margin: rem(16px auto);
  font-weight: 400;
}

.slideImageContainer {
  display: flex;
  justify-content: space-around;
  margin-top: rem(20px);
}

.image {
  width: rem(130px);
  height: rem(130px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

:global(.swiper-slide-active) > .leftCircle{
  opacity: 1;
}

:global(.swiper-slide-active) > .rightCircle{
  opacity: 1;
}

.circle {
  display: block;
  position: absolute;
  width: rem(80px);
  height: rem(80px);
  border-radius: 50%;
  background: #D9415C;
  box-shadow: rem(0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12));
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.leftCircle {
  composes: circle;

  top: rem(-30px);
  left: rem(-30px);
}

.rightCircle {
  composes: circle;

  bottom: rem(-30px);
  right: rem(-20px);
}

.circleList {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.circleListItem {
  width: 100%;
  text-align: center;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: rem(14px);
  line-height: rem(14px);
}
